.container {
    padding: 20px;
    background-color: #1f1f1f;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table1 {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#text {
    font-size: 22px;
    font-weight: bold;
}

#text1 {
    font-size: 18px;
    text-align: left;
}

#text2 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

table, th, td{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}

.container1{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span.highlight {
    background-color: #eedc84;
}

.container2 {
    padding: 20px;
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e1db;
    padding: 12px 24px;
    list-style: none;
}